img{
  position: absolute;
  width: 100vw;
}

#post{
  display: none;
}

body{
  overflow-x: hidden;
}

.activatebutton {
  opacity: 0;
  position: absolute;
  height: 150px;
  width: 150px;
  margin: 0 2px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 15vh;
  left: 23.7vw;
}

.activatebutton:hover{
  cursor: pointer;
}

.mySlides{
  position: absolute;
  display: none;
}
