*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Hind;
}

body{
  background-color: #ffffff;
}

.logotop{
  display:flex;
  justify-content: flex-end;
  margin-left: 90%;
  margin-top: 10px;
  margin-bottom: 40px;

}
h2{
  display: flex;
  justify-content: flex-end;
  margin-top: -95px;
  margin-left: 11%;

}

.header{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 55%;
  background-color: ffffff;
  width: 35%;
}

.header a{
  color: #737373;
  font-family: Hind;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
}

.header li{
  list-style: none; /* Removes the bullet points */
}

/* The slideshow in the header */
.mySlides{
  max-height: 300px;
  display: none;
}

/* The flashing text in the header */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centers items vertically */
  min-height: 8vh; /* The height or "thickness" of the menu bar background */
  background-color: #5d4954;
}

/* Here starts the code for the navigation bar */

/* WARNING: Dump code for the logo in navbar */
.logo{
  color: white;
  /* Makes the text upper case */
  text-transform: uppercase;
  /* The space between the letters */
  letter-spacing: 5px;
  font-size: 28px;
}

/* Adjusts the items inside the nav (in this case, their position) */
.navlinks{
  display: flex;
  justify-content: space-around;
  width: 35%; /* The width between the menu points */
}

/* Adjusts the link text */
.navlinks a{
  color: #FFFFFF; /* Color of the links */
  font-family: Hind;
  text-decoration: none; /* Removes the bars under the links */
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
}

/* Adjusts the list items (in this case the style) */
.navlinks li{
  list-style: none; /* Removes the bullet points */
}


/* Here starts the code for the burger menu */

/* Hides the burger menu on desktop */
.burger{
  display: none;
}

/* The aesthetics of the burger menu */
.burger div{
  width: 25px; /* How long the lines are */
  height: 2px; /* How "thick" the lines are */
  background-color: #FFFFFF; /* The color of the lines in the burger */
  margin: 7px; /* The spacing between the lines */
}

/* Ghetto fix for keeping the menu points spaced nicely when full screen */
@media screen and (max-width:1024px/* The width at where the change happens */){
  .navlinks{
    display: flex;
    justify-content: space-around;
    width: 75%; /* The width between the menu points */
  }
}

/* For mobile */
@media screen and (max-width:768px){
  body{
    overflow-x: hidden; /* Makes us unable to scroll at the bottom of the page, which in essence hides the container we pushed off-screen with transform translateX */
  }
  .navlinks{
    position: absolute;
    right: 0px; /* Makes it stick to the right side */
    height: 92vh;
    top: 8vh;
    background-color: #5d4954; /* The background of the new menu bar */
    display: flex;
    flex-direction: column; /* Puts the menu points in a column, making them go down */
    align-items: center; /* Puts the menu points in the center of the column */
    width: 50%; /* The width of the menu column. T H I C C */
    transform: translateX(100%); /* Moves the container, off the screen */
    transition: transform 0.5s ease-in; /* Makes the column ease in and out */
  }

  .navlinks li{
    opacity: 0; /* Hides the menu points, by turning them invisible */
  }

  .burger{
    display: block; /* Makes our burger menu visible */
    cursor: pointer; /* Turns the cursor into the tiny hand, with the tiny fingers, when hovering the burger */
  }
}

.nav-active{
  transform: translateX(0%); /* Puts our column back into view */
}
/* body */

.gråboks{
  background-color: #737373;
  height: 100%;
  width: 75%;
}

/* Footer */
footer{
  text-align: center;
}

footer img{

}

.box1 {
  text-align: left;
  float: left;
  width: 33.33%; /* Use 33.33% if there sould be 3 box/images */
  padding: 20px; /* if you want space between the images */
}
.box2 {
  text-align: center;
  float: left;
  width: 33.33%; /* Use 33.33% if there sould be 3 box/images */
  padding: 20px; /* if you want space between the images */
}
.box3 {
  text-align: right;
  float: left;
  width: 33.33%; /* Use 33.33% if there sould be 3 box/images */
  padding: 20px; /* if you want space between the images */
}

.clearfix::after { /* The ::after selector inserts something after the content of each selected element(s). */
  content: " "; /* Older browser do not support empty content */
  clear: both;
  display: inline;
}
