* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Hind;
}

body{
  overflow-x: hidden;
}


/* Here starts the code for navbar */
/* Color classes */
.blue {
  /* BG color of the id */
  background-color: #409699;
}

.green {
  /* BG color of the id */
  background-color: #a3c759;
  /* Gradient for the buttons */
  /* background: linear-gradient(
    to bottom,
    #a3c759 0%,
    #a3c759 50%,
    #779141 100%
    ); */
}

.yellow {
  /* BG color of the id */
  background-color: #ebcc4d;
}

.red {
  /* BG color of the id */
  background-color: #e84726;
}

.pink {
  /* BG color of the id */
  background-color: #edb8d1;
}


nav {
  display: flex;
  justify-content: center;
  /* Centers items vertically */
  align-items: center;
  /* The height or "thickness" of the menu bar background */
  height: 50px;
  /* Sorts the background color so it matches the end colors */
  background: linear-gradient(
    to right,
    #409699 0%,
    #409699 50%,
    #edb8d1 50%,
    #edb8d1 100%
    );
}

/* Adjusts the items inside the nav (in this case, their position) */
.navlinks {
  display: flex;
  justify-content: space-around;
}

.navlinks li {
  /* Removes the bullet points */
  list-style: none;
  margin: 0vh 0vw 0vh 0vw;
  /*  */
  flex: 0 0 200px;
}

.navlinks a {
  /* Color of the link text */
  color: #FFFFFF;
  font-family: Hind;
  /* Removes the bars under the links */
  text-decoration: none;
  /* Space between letters in the link text */
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding: 5px 20px 4px 20px;
}

.navlinks a:hover {
  /* Fun idea */
  background: linear-gradient(
    to bottom,
    #a3c759 0%,
    #779141 100%
    );
}

/* Here starts the code for the burger menu */
/* Hides the burger menu on desktop */
.burger {
  display: none;
}

.burger:hover {
  cursor: pointer;
}

/* The aesthetics of the burger menu */
.burger div {
  width: 25px;
  /* How long the lines are */
  height: 2px;
  /* How "thick" the lines are */
  background-color: #FFFFFF;
  /* The color of the lines in the burger */
  margin: 6px;
  /* The spacing between the lines */
}


/* For mobile */
@media screen and (max-width:768px) {
  body {
    /* Makes us unable to scroll at the bottom of the page, which in essence hides the container we pushed off-screen with transform translateX */
    overflow-x: hidden;
  }

  nav{
    background: linear-gradient(
      to right,
        #409699 20%,
        #a3c759 40%,
        #ebcc4d 60%,
        #e84726 80%,
        #edb8d1 100%
      );
  }

  .navlinks {
    display: flex;
    position: absolute;
    /* Makes it stick to the right side */
    right: 0px;
    height: 94vh;
    /* Should be the same as navbar to touch it */
    top: 49.5px;
    /* The background of the new menu bar */
    background-color: #dbdbdb;
    /* Puts the menu points in a column, making them go down */
    flex-direction: column;
    /* Puts the menu points in the center of the column */
    align-items: center;
    /* The width of the menu column. T H I C C */
    width: 50%;
    /* Moves the container, off the screen */
    transform: translateX(0%);
    /* Makes the column ease in and out */
    transition: transform 0.5s ease-in;
  }

  .navlinks li {
    /* Hides the menu points, by turning them invisible */
    opacity: 1;
    /* Removes the bullet points */
    list-style: none;
    margin: 0vh 0vw 0vh 0vw;
    flex: 0 0 100px;
  }

  .navlinks a {
    /* Color of the link text */
    color: #FFFFFF;
    font-family: Hind;
    /* Removes the bars under the links */
    text-decoration: none;
    /* Space between letters in the link text */
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 47px 20px 47px 20px;
  }

  .burger {
    display: block;
    /* Makes our burger menu visible */
    cursor: pointer;
    /* Turns the cursor into the tiny hand, with the tiny fingers, when hovering the burger */
  }

  .nav-active {
  transform: translateX(0%);
  /* Puts our column back into view */
}
}
